# Byte-compiled Python files
__pycache__/
*.py[cod]

# Miljöfiler & hemligheter
.env
*.env
.env.*

# Cache/IDE/editor/OS-filer
.DS_Store
.idea/
.vscode/

# Loggar och temporära filer
*.log
*.tmp

# Flask eller build-artifacts
instance/
*.db
*.sqlite3

# Paket och distributionsfiler
dist/
build/
*.egg-info/

# Node (om frontend finns)
node_modules/

# venv filer och binärer
venv/

#wordfile e.g. content
*.docx

#Bilder e.g. content
*.jpeg
*.jpg
*.png

# PostgreSQL data (men behåll mappen)
data/postgres/*
!data/postgres/.gitkeep

# Terraform
*.tfvars
*.tfstate
*.tfstate.backup
.terraform/
