name: Deploy sg_toolbox_qa

on:
  push:
    branches: [ main ]


jobs:
  terraform:
    runs-on: ubuntu-latest
    env:
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.8.5

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan -out=tfplan

      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan


docker:
    runs-on: ubuntu-latest
    needs: terraform
    env:
      ACR_LOGIN_SERVER: sgtoolboxacrqa.azurecr.io
      CONTAINER_APP_NAME: ca-toolbox-web-qa
      CONTAINER_APP_RG: rg-toolbox-qa